.section-banner {
  .vfm-bgPriText {
    border-radius: 16px;
    padding: 12px 16px;
  }
  .rounded-circle {
    height: 50px;
    width: 50px;
    // margin-inline-end: $vfm-p-base;
    // color: #fff;
    font-size: 32px;
    // font-weight: 900;
  }
  .title-wrapper{
    border: 1px solid #FFFFFF;
    border-radius: 16px;
    box-shadow: 0px 4px 12px 0px #A3B4CB33;
    padding: 12px 16px;
  }
  .vfm-bgTheme{
    margin-block-start: -1px;
  }
}
