.section-latest {
  padding-block: 40px;
  @media screen and (max-width: 768px) {
    padding-block: 64px;
    padding-inline: 36px;
  }
  .adv-card {
    border-radius: 24px;

    .left {
      //   padding: 64px 40px;
      flex: 1 1 50%;
      .up {
        position: relative;
        flex: 0 0 auto;
        width: 100%;
        padding-bottom: 66.6%;
        height: 0;
        @media screen and (max-width: 1200px) {
          padding-bottom: 75%;
        }
        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 16px;

        }
      }
      .down {
        flex: 0 0 auto;
        height: 33.3%;
      }
    }
    .right {
      flex: 1 1 50%;

      // NewsCard元件樣式
      .news-card {
        margin-block-end: 24px;

        .nc-left {
          position: relative;
          width: 30%;
          padding-bottom: 20%;
          height: 0;
          @media screen and (max-width: 1200px) {
            width: 50%;
            padding-bottom: 33.3%;
          }
          @media screen and (max-width: 992px) {
            width: 45%;
            padding-bottom: 45%;
          }
          @media screen and (max-width: 768px) {
            width: 25%;
            padding-bottom: 25%;
          }
          @media screen and (max-width: 576px) {
            width: 30%;
            padding-bottom: 30%;
          }
          @media screen and (max-width: 393px) {
            width: 33.3%;
            padding-bottom: 40%;
          }
          img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 24px;
            @media screen and (max-width: 393px) {
              border-radius: 8px;
            }
          }
        }
        .nc-right {
          @media screen and (max-width: 992px) {
            .vfm-body {
              .ellipsis {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }
            }
          }
          @media screen and (max-width: 393px) {
            .vfm-body {
              .ellipsis {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
              }
            }
          }
        }
        @media screen and (max-width: 768px) {
          .nc-left {
            padding-inline: 0px;
          }
          .nc-right {
            padding-inline: 8px 0px;
          }
        }
      }
      .morePill {
        color: $vfm-priText;
        font-size: 16px;
        font-weight: 600;
        background-color: $vfm-secText;
        border-radius: 500px;
        padding: 16px 24px;
      }
    }
  }
}
