.section-nav {
  padding: 16px 24px;
  position: sticky !important;
  top: 0;
  opacity: 0.9;
  z-index: 999;
  @media screen and (max-width: 576px) {
    position: static !important;
  }
  @media screen and (max-width: 393px) {
    padding: 0px;
  }
  nav {
    background: #fff;
    padding: 12px 24px;
    border-radius: 10px;
    opacity: 1;
    @media screen and (max-width: 393px) {
      padding: 14px 16px;
      border-radius: 0px;
    }
    ul.nav-list-btns {
      li {
        margin-inline: $vfm-p-base;
      }
    }
    ul.social-btns {
      li {
        margin-inline: $vfm-p-base;
      }
    }
  }
}

.bottom-nav {
  ul {
    li {
      padding-block-start: 12px;
      padding-block-end: 16px;
      h6 {
        margin-block-start: 4px;
        font-size: 12px;
      }
    }
  }
}
