.section-policy {
  padding-block: 64px;
  .carousel {
    overflow: hidden;
  }
  .controlBtns {
    .controlBtn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: white;
      color: $vfm-theme;
    }
    .pagination {
      .dot {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: $vfm-theme;
        margin-inline: 16px;
        padding: 0;
      }
      .left {
        opacity: 0.4;
      }
      .active {
        opacity: 1;
      }
      .right {
        opacity: 0.4;
      }
    }
  }
}

// 輪播卡片樣式
.carousel-card {
  min-width: 792px;
  // height: 100%;
  margin-inline: -24px;
  border-radius: 32px;
  // overflow: hidden;
  // transition: all 0.2s ease-in-out;
  @media screen and (max-width: 576px) {
    min-width: 331px;    
  }
  .cc-left {
    margin: 32px 0 32px 32px;
    @media screen and (max-width: 576px) {
      margin: 16px 16px 0 16px;
    }
    img {
      border-radius: 24px;
    }
  }
  .cc-right {
    margin: 32px 32px 0 32px;
    @media screen and (max-width: 576px) {
      margin: 16px 16px 0 16px;
      
    }
    .cc-tag {
      border-radius: 500px;
      padding: 4px 12px;
      margin-block-start: 24px;
    }
    .cc-des {
      margin-block-start: 16px;
      margin-block-end: 40px;
    }
  }
}
//管理縮放動畫
.carousel {
  .left {
    order: 1;
  }
  .active {
    order: 2;
  }
  .right {
    order: 3;
  }
  .item {
    transform: scale3d(0.83, 0.83, 1);
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 576px) {
      transform: scale3d(0.65, 0.65, 1);
      margin-inline: -50px!important;
    }
    @media screen and (max-width: 393px){
      margin-inline: -65px!important;
    }
  }
  .owl-item.active.center {
    .item {
      transform: scale3d(1, 1, 1);
      @media screen and (max-width: 576px) {
        transform: scale3d(.7, .7, 1);
      }
    }
  }
}

.morePill {
  color: $vfm-priText;
  font-size: 16px;
  font-weight: 600;
  background-color: $vfm-secText;
  border-radius: 500px;
  padding: 16px 24px;
}
